@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: skyblue;
    display: flex;
    background-size: cover;
    justify-content: center;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 468px;
    padding: 20px;
    margin-top: 80px;
    background-color: rgb(233, 239, 240);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.question {
    font-weight: bold;
    margin-bottom: 15px;
}

.options {
    margin-bottom: 20px;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3071a9;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.button:hover {
    background-color: #3071a9;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;

}

.hide {
    display: none;
}

@media only screen and (min-width: 468px) {
    .container {
        width: 70%;
        height: 59%;
    }

}